.app__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  //   @media screen and (max-width: 790px) {
  //     width: 80%;
  //   }
}

.app__footer-email {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin: 0.5rem;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    img {
      width: 50%;
      height: auto;
      margin: 0.5rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      @media screen and (max-width: 450px) {
        width: 80%;
        height: auto;
      }
    }
  }
  &:hover {
    box-shadow: 0 0 25px #fef4f5;
  }
}

.app__footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app__footer-img {
  display: flex;
  align-items: center;

  img {
    width: 70px;
    height: auto;

    @media screen and (max-width: 450px) {
      display: flex;
      flex-direction: row;
      width: 40px;
      height: auto;
    }
  }
}
